<html>
    <h3 align="left">
        Date: 8th.May.2018
    </h3>
</html>

<h1><center>First Recurring Character in the String</center></h1>

<h2>Problem:</h2>
<p>
    1.Take a string and return the first recurring character in it.<br>
    2.Take a string and find how many times the each character occurs.
</p>

**First we are going to build a function which calculates the Recurring characters and their Counts **

In [84]:
def calculate_recurring_and_counts(given_string):
    counts = {}
    recurring_terms = []
    for char in given_string:
        if char in counts:
            recurring_terms.append(char)
            counts[char]+= 1
        else:
            counts[char] = 1
    return counts, recurring_terms

** **

In [85]:
x,y = calculate_recurring_and_counts("This is what i want")

In [87]:
x

{' ': 4, 'T': 1, 'a': 2, 'h': 2, 'i': 3, 'n': 1, 's': 2, 't': 2, 'w': 2}

In [98]:
key_list = []
value_list = []
for key, value in x.items():
    akey = key
    avalue = value
    key_list.append(akey)
    value_list.append(avalue)

In [89]:
import pandas as pd

In [100]:
df = pd.DataFrame(key_list, value_list)
df

   0
2  w
3  i
2  t
4
1  n
2  s
2  a
1  T
2  h

In [88]:
y

['i', 's', ' ', 'h', ' ', 'i', ' ', 'w', 'a', 't']